.header {
	background:black;
	text-align:center;
	padding:0px 0px 10px 0px;
}
h1 {
	color:white;
	font-family:courier;
}
.options {
	text-align:center;
	padding:0px 0px 50px 0px;
	display:inline-block;
	margin: 0 50px;
}
.section {
	background:black;
	color:white;
	font-family:courier;
	width:100%;
	margin: 0 auto;
	position: relative;
  	text-align:center;
}

a {
	color:white;
	font-family:courier;
	font-size:150%;
}

.signup {
	background:black;
	color:white;
	font-family:arial;
	text-align:center;
	font-size:65%;
}